name: Deploy model to AWS
on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: symphony
          environment_name: symphony-env
          version_label: ${{ github.sha }}
          existing_bucket_name: elasticbeanstalk-ap-south-1-835387152576
          region: ap-south-1
          deployment_package: ./client/deploy.tar
